@*@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>*@
<div class="fh5co-more-contact">
    <div class="fh5co-narrow-content">
        <div class="row">
            <div class="col-md-4">
                <div class="fh5co-feature fh5co-feature-sm animate-box" data-animate-effect="fadeInLeft">
                    <div class="fh5co-icon">
                        <i class="icon-envelope-o"></i>
                    </div>
                    <div class="fh5co-text">
                        <p><a href="#">info@domain.com</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="fh5co-feature fh5co-feature-sm animate-box" data-animate-effect="fadeInLeft">
                    <div class="fh5co-icon">
                        <i class="icon-map-o"></i>
                    </div>
                    <div class="fh5co-text">
                        <p>198 West 21th Street, Suite 721 New York NY 10016</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="fh5co-feature fh5co-feature-sm animate-box" data-animate-effect="fadeInLeft">
                    <div class="fh5co-icon">
                        <i class="icon-phone"></i>
                    </div>
                    <div class="fh5co-text">
                        <p><a href="tel://">+123 456 7890</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>